button {
    @extend .std-border;
    @apply border-secondary p-sm std-height;
    transition: $std-transition-duration;

    color: var(--secondary);
    background-color: var(--primary);

    width: 100%;
    min-width: $button-min-width;

    &:hover {
        @apply pressable std-hover--scale;
        color: var(--primary);
        background-color: var(--secondary);
    }
}