.theme {
	--error: #F571B5;
	--success: #1cb51c;
	--yellow: #ffff00;
	--black: #000000;

	&--dark {
		@extend .theme;
		--primary: #0F172A;
		--primary-variant: #1E293B;
		--secondary: #ffffff;
		--secondary-variant: #ffffff66;
	}

	&--light {
		@extend .theme;
		--primary: #ffffff;
		--primary-variant: #ffffff66;
		--secondary: #0F172A;
		--secondary-variant: #1E293B;
	}
}

.std-border {
	@apply border-2;
}

.spacer {
	// @apply flex grow;
	display: flex !important;
	flex: 1 !important;
	flex-grow: 1 !important;
}