.theme {
    --success: #1cb51c;
    --yellow: #FFFF00;

    &--dark {
        @extend .theme;
        --primary: #000000;
        --secondary: #ffffff;
    }

    &--light {
        @extend .theme;
        --primary: #ffffff;
        --secondary: #000000;
    }
}
